

<!-- <form>
    <input type="text" name="name">
<br>
  <label for="nLow" 
         style="display: inline-block; width: 240px; text-align: right">
         Low = <span id="nLow-value">?</span>
  </label>
  <input type="range" min="5" max="150" id="nLow">
<br>
  <label for="nHigh" 
         style="display: inline-block; width: 240px; text-align: right">
         High = <span id="nHigh-value">?</span>
  </label>
  <input type="range" min="5" max="150" id="nHigh">
</form>
 -->


// when the input range changes update the circle 

// d3.select("#nLow").on("input", function() {
//   update(+this.value);
// });

// d3.select("#nHigh").on("input", function() {
//   update(+this.value);
// });

// // update the elements
// function update(nLow) {

//   // adjust the text on the range slider
//   d3.select("#nLow-value").text(nLow);
//   d3.select("#nLow").property("value", nLow);

//   // update the circle radius
//   holder.selectAll("companyLow") 
//     .attr("XX", nLow);
// }

// function update(nHigh) {

//   // adjust the text on the range slider
//   d3.select("#nHigh-value").text(nHigh);
//   d3.select("#nHigh").property("value", nHigh);

//   // update the circle radius
//   holder.selectAll("companyHigh") 
//     .attr("XXXX", nHigh);
// }


