<!DOCTYPE html>
<meta charset="utf-8">
<style> /* set the CSS */

body { font: 16px Helvetica;}

path { 
    stroke: #0066FF;
    stroke-width: 4;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}


.area {
    fill: #99FF99;
    stroke-width: 0;
}


</style>

<body>
<!-- <script src="https://d3js.org/d3.v3.min.js"></script> -->



<!-- button to be added later, must figure out undefined data issue in update function -->
<!-- <div id="button">
    <input name="updateButton" 
           type="button" 
           value="Update" 
           onclick="updateData()" 
    />
</div> -->

<!-- <script src="jquery-1.11.2.min.js"></script>    -->
<!-- load the d3.js library -->    


<script>

// Set the dimensions of the canvas / graph
var margin = {top: 100, right: 20, bottom: 30, left: 70},
    width = 1000 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

// Parse the date / time
var parseDate = d3.time.format("%d-%b-%y").parse;

// Set the ranges
var x = d3.time.scale().range([0, width]);
var y = d3.scale.linear().range([height, 0]);

// Define the axes
var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(5);

var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(5);

// shaded area beneath line, goes along with "area two blocks above ^"
    var area = d3.svg.area()    
    .x(function(d) { return x(d.date); })
    .y0(height)
    .y1(function(d) { return y(d.close); });

// Define the line
var valueline = d3.svg.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.close); })
    .interpolate("cardinal");                    //interpolation of line (smoothness)
    
// Adds the svg canvas
var svg = d3.select("body")
    .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
    .append("g")
        .attr("transform", 
              "translate(" + margin.left + "," + margin.top + ")");

// Get the data
d3.csv("data.csv", function(error, data) {
    data.forEach(function(d) {
        d.date = parseDate(d.date);
        d.close = +d.close;
    });

    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain([0, d3.max(data, function(d) { return d.close; })]);

    //drawing fill beneath "path" aka the line
    svg.append("path")
        .datum(data)
        .attr("class", "area")
        .attr("d", area);


    // Add the valueline path.
    svg.append("path")
        .attr("class", "line")
        .attr("d", valueline(data));


    


    // add x Axis
    svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    // text label for the x axis
    svg.append("text")             
        .attr("x", width/ 2)
        .attr("y",  height + margin.bottom )
        .style("text-anchor", "middle")
        .text("Date");


    // add Y Axis
    svg.append("g")
        .attr("class", "y axis")
        .call(yAxis);

       //add title
    svg.append("text")
        .attr("x", (width / 2))             
        .attr("y", 0 - (margin.top / 2))
        .attr("text-anchor", "middle")  
        .style("font-size", "20px") 
        .style("text-decoration", "underline")  
        .text("Value over Time with D3.js");


    //                y axis label   -- illegal character error ?    
    // svg.append("text")
    //     .attr("transform", "rotate(-90)")
    //     .attr("y", 0 – margin.left)
    //     .attr("x",0 - (height / 2))
    //     .attr("dy", "1em")
    //     .style("text-anchor", "middle")
    //     .text("Value");


});


// function updateData() {

//     // get data 
//     d3.csv("data-alt.csv", function(error, data) {
//         data.forEach(function(d) {
//             d.date = parseDate(d.date);
//             d.close = +d.close;
//         });

//         // Scale the range of the data 
//         x.domain(d3.extent(data, function(d) { return d.date; }));
//             y.domain([0, d3.max(data, function(d) { return d.close; })]);

//     // Select the line
//     var svg = d3.select("body").transition();

//     // Make the changes
//         svg.select(".line")   // updateline
//             .duration(750)
//             .attr("d", valueline(data));
//         svg.select(".x.axis") // update x axis
//             .duration(750)
//             .call(xAxis);
//         svg.select(".y.axis") // update y axis
//             .duration(750)
//             .call(yAxis);

    // });
// }
</script>

<script src="https://d3js.org/d3.v3.min.js"></script>
</body>
